/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #1e3a8a, #0f172a 70%);
    position: relative;
    color: white;
}

/* ===== ESTRELAS CAINDO ===== */
.star {
    position: absolute;
    top: -5px; /* começa acima da tela */
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* animação de queda infinita */
@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        opacity: 0.8;
    }
    100% {
        transform: translateY(110vh);
        opacity: 0;
    }
}

/* ===== CONTEÚDO ===== */
main {
    z-index: 2;
    text-align: center;
    width: 100%;
}

h1 {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgba(255,255,255,0.5);
}

/* ===== SLIDER ===== */
.slider {
    width: 90%;
    max-width: 500px;
    height: 65vh;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 20px 50px rgba(0,0,0,0.6);
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.slides img {
    flex: 0 0 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}

/* ===== PLAYER ===== */
.player {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 35px;
    border-radius: 40px;
    background: rgba(255, 105, 180, 0.15);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
    text-align: center;
    z-index: 3;
}

.musica {
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 14px;
}

.player audio {
    width: 250px;
    filter: drop-shadow(0 5px 15px rgba(255,105,180,0.6));
}